---
import '@unocss/reset/tailwind.css'

// TODO: remove

---

<main class="min-h-screen w-screen grid place-content-center bg-neutral-800 relative" >
  <!-- <div class="w-96 h-96 bg-purple absolute top-80 left-100">

  </div> -->

  <div class="w-360 h-270 bg-black grid grid-rows-3 grid-cols-4 place-content-center grid-container" >

    <!-- 1 -->
    <div>

      <div class="container-classes" >
        <span>
          fade-x-30
        </span>
      </div>

      <div class="h-60 w-60 fade-x-30 overflow-hidden relative flex flex-col items-center justify-center" >

          <span class="font-[Helvetica] text-white text-4xl text-nowrap" >
            Nested HTML Element
          </span>
          <span class="font-[Helvetica] text-white text-4xl text-nowrap" >
            Element Nested HTML
          </span>
          <span class="font-[Helvetica] text-white text-4xl text-nowrap" >
            HTML Element Nested
          </span>

      </div>
      
    </div>

    <!-- 3 -->
    <div>

      <div class="container-classes" >
        <span>
          fade-30
        </span>
      </div>

      <div class="h-60 w-60 fade-30 overflow-hidden relative flex flex-col items-center justify-center" >

          <span class="font-[Helvetica] text-white text-4xl text-nowrap" >
            Nested HTML Element
          </span>
          <span class="font-[Helvetica] text-white text-4xl text-nowrap" >
            Element Nested HTML
          </span>
          <span class="font-[Helvetica] text-white text-4xl text-nowrap" >
            HTML Element Nested
          </span>
          <span class="font-[Helvetica] text-white text-4xl text-nowrap" >
            Nested HTML Element
          </span>
          <span class="font-[Helvetica] text-white text-4xl text-nowrap" >
            Element Nested HTML
          </span>
          <span class="font-[Helvetica] text-white text-4xl text-nowrap" >
            HTML Element Nested
          </span>
          
          <div class="absolute left-4/10 top-4/10 rounded-full outline-2 outline-solid outline-white bg-neutral-900 w-40 h-40 flex items-center justify-center" >
          
            <div class="w-24 h-24 text-white -rotate-20" >
              <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 256 256"><path fill="currentColor" d="M216 64v90.93c0 46.2-36.85 84.55-83 85.06a83.7 83.7 0 0 1-60.4-24.59C50.79 192.33 26.15 136 26.15 136a16 16 0 0 1 6.53-22.23c7.66-4 17.1-.84 21.4 6.62l21 36.44a6.09 6.09 0 0 0 6 3.09h.12a8.19 8.19 0 0 0 6.8-8.18V48a16 16 0 0 1 16.77-16c8.61.4 15.23 7.82 15.23 16.43V112a8 8 0 0 0 8.53 8a8.17 8.17 0 0 0 7.47-8.25V32a16 16 0 0 1 16.77-16c8.61.4 15.23 7.82 15.23 16.43V120a8 8 0 0 0 8.53 8a8.17 8.17 0 0 0 7.47-8.25v-55.3c0-8.61 6.62-16 15.23-16.43A16 16 0 0 1 216 64"/></svg>
            </div>

          </div>

      </div>

    </div>

    <!-- 3 -->
    <div>

      <div class="container-classes" >
        <span>
          fade-x-12
        </span>
        <span>
          fade-y-24
        </span>
        <span>
          fade-smooth
        </span>
      </div>

      <div class="h-60 w-60 fade-x-12 fade-y-24 fade-smooth overflow-hidden relative" >

        <div class="bg-gradient-to-b from-purple to-blue h-60 w-full" >
    
        </div>

      </div>
      
    </div>

    <!-- 4 -->
    <div>

      <div class="container-classes" >
        <span>
          fade-x-12
        </span>
        <span>
          fade-y-24
        </span>
      </div>
  
      <div class="h-60 w-60 fade-x-12 fade-y-24 overflow-hidden relative" >
  
        <div class="bg-gradient-to-b from-purple to-blue h-60 w-full" >
      
        </div>
  
      </div>
  
    </div>

    <!-- 5 -->
    <div>

      <div class="container-classes" >
        <span>
          fade-24
        </span>
        <span>
          fade-smooth
        </span>
        <span>
          fade-from-0
        </span>
        <span>
          fade-to-90
        </span>
      </div>
  
      <div class="h-60 w-60 overflow-hidden relative flex items-center justify-center" >

        <div class="font-[Helvetica] text-white text-4xl text-nowrap absolute inline-block" >
          Behind gradient
        </div>
  
        <div class="bg-gradient-to-tr from-purple to-blue h-48 w-48 grid place-content-center absolute fade-24 fade-smooth fade-from-0 fade-to-90" >

          <div class="w-48 h-48 rounded-full outline-4 outline-solid outline-white" >

          </div>
      
        </div>
  
      </div>

    </div>

    <!-- 6 -->
    <div>

      <div class="container-classes" >
        <span>
          fade-tl-24
        </span>
        <span>
          fade-smooth
        </span>
      </div>
  
      <div class="h-60 w-60 fade-tl-24 fade-smooth overflow-hidden relative" >
  
        <div class="bg-gradient-to-tr from-purple to-blue h-60 w-full" >
      
        </div>
  
      </div>

    </div>

    <!-- 7 -->
    <div>

      <div class="container-classes" >
        <span>
          fade-y-24
        </span>
        <span>
          fade-from-20
        </span>
      </div>

      <div class="h-60 w-24 flex flex-col items-center justify-center overflow-hidden fade-y-24 fade-from-20 space-y-4" >

        <div class="bg-neutral-100 rounded-full w-20 h-40 shrink-0" ></div>
        <div class="outline-4 outline-solid outline-neutral-100 rounded-full w-20 h-10 shrink-0" ></div>
        <div class="outline-4 outline-solid outline-neutral-100 rounded-full w-20 h-10 shrink-0" ></div>

      </div>

      <div class="h-60 w-24 flex flex-col items-center justify-center overflow-hidden fade-y-24 fade-from-20 space-y-4" >

        <div class="outline-4 outline-solid outline-neutral-100 rounded-full w-20 h-10 shrink-0" ></div>
        <div class="bg-neutral-100 rounded-full w-20 h-20 shrink-0" ></div>
        <div class="outline-4 outline-solid outline-neutral-100 rounded-full w-20 h-30 shrink-0" ></div>

      </div>
      
    </div>

    <!-- 8 -->
    <div>

      <div class="container-classes" >
        <span>
          fade-y-24
        </span>
      </div>

      <div class="h-60 w-24 flex flex-col items-center justify-center overflow-hidden fade-y-24 space-y-4" >

        <div class="outline-4 outline-solid outline-neutral-100 rounded-full w-20 h-30 shrink-0" ></div>
        <div class="outline-4 outline-solid outline-neutral-100 rounded-full w-20 h-20 shrink-0" ></div>
        <div class="outline-4 outline-solid outline-neutral-100 rounded-full w-20 h-10 shrink-0" ></div>

      </div>

      <div class="h-60 w-24 flex flex-col items-center justify-center overflow-hidden fade-y-24 space-y-4" >

        <div class="outline-4 outline-solid outline-neutral-100 rounded-full w-20 h-20 shrink-0" ></div>
        <div class="outline-4 outline-solid outline-neutral-100 rounded-full w-20 h-20 shrink-0" ></div>
        <div class="bg-neutral-100 rounded-full w-20 h-20 shrink-0" ></div>

      </div>
      
    </div>

    <!-- 9 -->
    <div>

      <div>

        <div class="bg-gradient-to-r from-purple to-blue h-240 w-240 fade-[50%] fade-from-30 absolute top-1/2 -translate-1/2" >

        </div>

        <div class="font-[Helvetica] text-white text-3xl ml-12" >
          <span class="bg-gradient-to-r from-purple/90 to-blue/90 fade-b-6 fade-l-12 fade-to-10 py-1 px-4 mb-4 rounded-full inline-block text-xl" >
            Advanced
          </span>
          <br /> 
          <span class="font-bold" >
            Nest & stack <br /> fade masks:
          </span>
          <div class="text-neutral-400 text-base break-words max-w-[35ch] mt-2">
            All code available @ /playground/astro-unocss/src/pages/docs-example.astro
          </div>
        </div> 
      </div>

    </div>

    <!-- 10 -->
    <div>

      <div class="container-classes" >
        <span>
          ...fade-*
        </span>
        <span>
          fade-reset
        </span>
      </div>
  
      <div class="h-60 w-60 relative flex items-center justify-center fade-b-60 rounded-t-full" >

        <div class="font-[Helvetica] text-white text-4xl text-nowrap absolute inline-block" >
          Behind gradient
        </div>
  
        <div class="bg-gradient-to-tr from-purple to-blue h-60 w-60 grid place-content-center absolute fade-24 fade-smooth fade-from-0 fade-to-90" >

          <div class="w-54 h-54 relative fade-reset fade-t-54 isolate rounded-b-full border-4 border-solid border-white" >
          </div>
      
        </div>
  
      </div>

    </div>

    <!-- 11 -->
    <div>

      <div class="container-classes" >
        <span>
          ...fade-*
        </span>
      </div>
  
      <div class="h-72 w-72 relative flex items-center justify-center" >

        <div class="bg-white h-72 w-72 grid place-content-center absolute fade-36 fade-from-20 -mt-36 rounded-full" ></div>
  
        <div class="bg-gradient-to-tr from-purple to-blue h-72 w-72 grid place-content-center absolute fade-36 mt-36 rounded-full" ></div>

      </div>

    </div>
    
    <!-- 12 -->
    <div>

      <div class="container-classes" >
        <span>
          fade-[50%]
        </span>
        <span>
          fade-from-25
        </span>
      </div>

      <div class="h-72 w-72 relative flex items-center justify-center" >

        <div class="bg-gradient-to-tr from-purple to-blue h-240 w-240 shrink-0 grid place-content-center absolute fade-[50%] fade-from-25 rounded-full" ></div>
      
        <div class="font-[Helvetica] text-neutral-400 text-xl text-nowrap absolute inline-block" >
          No other percentage <br /> values besides 50% works.
        </div>

      </div>
  


    </div>

  </div>

</main>

<style>

  .grid-container {
    --uno: "overflow-hidden"
  }

  .grid-container > * {
    --uno: "h-full w-full flex items-center justify-center outline-1 outline-solid outline-neutral-900 relative overflow-hidden"
  }

  .grid-container > * > :not(.container-classes) {
    --uno: "relative"
  }

  .grid-container > * > .container-classes {
    --uno: "absolute bottom-4 w-4/5 flex justify-center flex-wrap gap-2 z-10"
  }

  .grid-container > * > .container-classes > span {
    --uno: "py-.5 px-3 rounded-full outline-1 outline-solid outline-white/10 inline-flex text-white items-center shrink-0 bg-black/60"
  }

  /* .animate {
    animation: animate 3s infinite ease-in-out alternate;
  } */

  @keyframes animate {

    0% {
      transform: translateY(0%);
    }

    100% {
      transform: translateY(-75%);
    }

  }

</style>