---
import '@unocss/reset/tailwind.css'

---

<main class="h-screen w-screen grid place-content-center bg-black relative" >
  <!-- <div class="w-96 h-96 bg-purple absolute top-80 left-100">

  </div> -->

  <!-- <div 
    class="h-120 w-120 bg-pink fade-x-24 fade-y-48 fade-smooth overflow-hidden relative" 
  >
    <div class="bg-gradient-to-b from-purple via-yellow to-green h-480 w-full animate" >

    </div>
  </div> -->

  <div 
    class="h-120 w-120 bg-pink fade-[50%] overflow-hidden relative" 
  >
  </div>
</main>

<style>

  .animate {
    animation: animate 3s infinite ease-in-out alternate;
  }

  @keyframes animate {

    0% {
      transform: translateY(0%);
    }

    100% {
      transform: translateY(-75%);
    }

  }

</style>