---

---

<main class="h-screen w-screen grid place-content-center bg-black" >
  <div class="h-96 w-96 bg-pink-500 fade-y-48 fade-x-12 fade-from-100 fade-to-10 flex items-center justify-center" >

    <div class="h-36 w-36 bg-blue-500 fade-x-16 fade-reset" >

    </div>

  </div>
</main>