---

// 1. Add base css

import 'css-fade/css' // import base css into your project
import 'css-fade/css/utilities'
// import '../assets/global.css' // or copy paste the base css into your css folder ( copy from: /src/css/index.css )

---

<main class="wrapper" >
  <div class="box" >

		<div class="box-nested fade-reset" >

		</div>

  </div>
</main>

<style>

	body {
		margin: 0px;
		padding: 0px;
	}

	.wrapper {
		height: 100vh;
		width: 100vw;
		display: grid;
		place-content: center;
		background-color: black;
	}

	.box {
		height: 480px;
		width: 480px;
		background-color: pink;
		display: grid;
		place-content: center;

		/* 2. configure your variables */
		--fade-w-t: 3rem;
		/* --fade-w-b: 12rem; <== you can leave variables blank. */
		--fade-w-l: 8rem;
		--fade-w-r: 8rem;

		/* 3. assign the mask template to the mask property */
		mask: var(--fade-mask-template)

	}

	.box-nested {
		height: 200px;
		width: 200px;
		background-color: blue;

		--fade-w-b: 40%;
		mask: var(--fade-mask-template)
	}

</style>